@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

h3, p {
    color: inherit;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.col-4 {
    width: 33.33%;
    padding: 15px;
}

.search-wrapper{
    padding-top: 40px;
    display: flex;
    gap: 10px;
}

.search-wrapper input{
    padding: 10px;
    border-radius: 5px;
}

.search-wrapper button{
    padding: 10px;
    border-radius: 5px;

}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    background-image: linear-gradient(to bottom, #f8f8f8, #fafafa, #fbfcfb, #fdfdfd, #ffffff);    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 21px 16px 4px rgba(79, 135, 178, 0.14);
}

.hidden {
    display: none;
}